.dropdown-button {
    background-color: deeppink;
    color: white;
    border: 0;
    font-size: large;
    padding: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background color: darkgrey;
}

.dropdown-content a {
    display: block;
    text-decoration: none;
    color: white;
    font-family: Verdana, General;
    width: 153px;
    padding: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}
